# Copy this file to a file named Gemfile.local to add these gems to your dev toolset
# Feel free to modify Gemfile.local to suit your own preferences
group :development do
  gem 'github_changelog_generator'
  gem 'gem-release'
  gem 'guard'
  gem 'guard-rspec'
  gem 'guard-rubocop'
  gem 'listen', '~> 3.0', '< 3.1' # Dependency of guard, 3.1 requires Ruby 2.2+
  gem 'rake'
  gem 'rubocop'
end
